<div class="container">
  <div class="box-default login-main">
    <div>
      <h1>Log in</h1>
      <br>
    </div>

    <%= form_for(:session, :html => {class: "form-horizontal login-form", role: "form"}, url: login_path) do |f| %>
      <div class="form-group" align = "center">
        <div class="container-fluid">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter Username" %>
        </div>
      </div>
      <div class="form-group" align = "center">
        <div class="container-fluid">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
        </div>
      </div>

      <div align="center">
        <%= f.submit("Log in", class: "button-default") %>
      </div>
    <% end %>
    <br>
    <%= render 'layouts/messages' %>
  </div>
</div>