<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :namaz%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email%>
  </div>

  <div class="field">
    <%= form.label :nohp %>
    <%= form.text_field :nohp%>
  </div>

  <div class="field">
    <%= form.label :kelas %>
    <%= form.text_field :kelas %>
  </div>

  <%= form.fields_for @photo do |p| %>
    <div class="field" %>
      <%= p.label :foto %>
      <%= p.file_field :foto, name: 'foto' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
