<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @student.nama %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Nohp:</strong>
  <%= @student.nohp %>
</p>

<p>
  <strong>Kelas:</strong>
  <%= @student.kelas %>
</p>

<p>
  <strong>Profile Photo</strong>
  <%= image_tag(@student.photo.foto.thumb.url) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
