<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <%= if (@participant.email != nil) %>
    <strong>Email:</strong>
    <%= @participant.email %>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.nohp %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
