<%= form_with(model: event, local: true, multipart: true) do |form| %>
  <div class='container col-md-4 col-xs-8 event-main'>

    <% if event.errors.any? %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p>Error: Ada data yang tidak terisi!</p>
      </div>
    <% end %>

    <div class='event-list box-default'>
      <h1>Edit Event</h1>

      <div class='edit'>
          <%= form.label :title %>
          <%= form.text_field :title, id: :event_title %>
      </div>

      <%= form.fields_for :photos do |p| %>
        <div class="edit">
            <%= p.label :foto %>
            <%= p.file_field :foto, :multiple => true, name: "photos[foto][]" %>
        </div>
      <% end %>

      <div class="edit">
          <%= form.label(:dilaksanakan, "Tanggal : ") %>
          <%= form.date_field :dilaksanakan %>
      </div>

      <div class="edit">
          <%= form.label :narasi %>
          <%= form.text_area :narasi, id: :event_narasi %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
