<div class='container event-main'>
  <div class='row'>
    <div class='col-lg-8 col-xs-12 event-list'>
      <div class='box-default event-part'>
        <% @events.each do |event| %>
          <% if event.dilaksanakan >= Date.today %>
            <div class='box-default event-span'>
              <div class='event-span-photo'>
                <% if !event.photos.any? %>
                  <% image_tag('default_event.png', height: 200) %>
                <% else %>
                  <% event.photos.each do |p| %>
                    <%= image_tag(p.foto) %>
                  <% end %>
                <% end %>
              </div>
              <br>
              <h1><%= event.title %></h1>
              <h3>Waktu Acara: <%= event.dilaksanakan.strftime("%m/%d/%Y") %></h3>
              <br>
              <p><%= truncate event.narasi, length: 300 %></p>
              <p><%= link_to 'Read more..', event %></p>
              <% if logged_in? %>
                <P><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>