<div class='container event-main'>
  <div class='row'>
    <div class='col-lg-8 col-xs-12 event-list'>
      <div class='box-default event-part'>
        <h1>Upcoming Events</h1>
        <br>
        <% @events.each do |event| %>
          <% if event.dilaksanakan >= Date.today %>
            <div class='box-default event-span'>
              <div class='event-span-photo'>
                <% if !event.photos.any? %>
                  <% image_tag('default_event.png') %>
                <% else %>
                  <% event.photos.each do |p| %>
                    <%= image_tag(p.foto) %>
                  <% end %>
                <% end %>
              </div>
              <br>
              <h1><%= event.title %></h1>
              <h3>Waktu Acara: <%= event.dilaksanakan.strftime("%m/%d/%Y") %></h3>
              <br>
              <p><%= truncate event.narasi, length: 300 %></p>
              <p><%= link_to 'Read more..', event %></p>
              <% if logged_in? %>
<<<<<<< HEAD
                <p><%= link_to 'Edit', edit_event_path(event) %></p>
                <P><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
=======
                <P><%= link_to 'Delete event', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
>>>>>>> 941cdecec0fdc8790f32bc3532016a7d7eec6ea2
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class='box-default event-part'>
        <h1>Past Events</h1>
        <br>
        <% @events.each do |event| %>
          <% if event.dilaksanakan < Date.today %>
            <div class='box-default event-span'>
              <div class='event-span-photo'>
                <% if !event.photos.any? %>
                  <% image_tag('default_event.png') %>
                <% else %>
                  <% event.photos.each do |p| %>
                    <%= image_tag(p.foto) %>
                  <% end %>
                <% end %>
              </div>
              <br>
              <h1><%= event.title %></h1>
<<<<<<< HEAD
              <p><%= event.dilaksanakan.strftime("%m/%d/%Y") %></p>
              <p style="display: inline;"><%= truncate event.narasi, length: 300 %></p>
              <p><%= link_to 'Read more..', event %></p>
              <% if logged_in? %>
                <p><%= link_to 'Edit', edit_event_path(event) %></p>
                <P><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
=======
              <h3>Waktu Acara: <%= event.dilaksanakan.strftime("%m/%d/%Y") %></h3>
              <br>
              <p style="display: inline;"><%= truncate simple_format(event.narasi), length: 300 %></p>
              <p><%= link_to 'Read more..', event %></p>
              <% if logged_in? %>
                <P><%= link_to 'Delete event', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
>>>>>>> 941cdecec0fdc8790f32bc3532016a7d7eec6ea2
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='col-lg-4 col-xs-12' id='event-calendar'>
      <div class='box-default'>
        <h1>Calendar</h1>
        <hr>
      </div>
    </div>
  </div>
  <%= link_to 'New Event', new_event_path %>

</div>