<p id="notice"><%= notice %></p>

<div id='event-main'>
  <div id='event-list'>
    <div class='box-default event-part'>
      <h1>Upcoming Events</h1>
      <br>
      <% @events.each do |event| %>
        <% if event.dilaksanakan >= Date.today %>
          <div class='box-default event-span'>
            <h1><%= event.title %></h1>
            <p><%= event.narasi %></p>
            <p><%= event.dilaksanakan.strftime("%m/%d/%Y") %></p>
            <p><%= link_to 'Show', event %></p>
            <p><%= link_to 'Edit', edit_event_path(event) %></p>
            <P><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='box-default event-part'>
      <h1>Past Events</h1>
      <br>
      <% @events.each do |event| %>
        <% if event.dilaksanakan < Date.today %>
          <div class='box-default event-span'>
            <h1><%= event.title %></h1>
            <p><%= event.narasi %></p>
            <p><%= event.dilaksanakan.strftime("%m/%d/%Y") %></p>
            <p><%= link_to 'Show', event %></p>
            <p><%= link_to 'Edit', edit_event_path(event) %></p>
            <P><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='box-default' id='event-calendar'>
    <h1>Calendar</h1>
    <hr>
  </div>
</div>

<%= link_to 'New Event', new_event_path %>
