<div class='container event-main'>
    <div class='row'>
        <div class='col-sm-8 box-default event-list'>
            <div class='event-span'>
                <h1><%= @event.title %></h1>
                <p><%= @event.dilaksanakan.strftime("%m/%d/%Y") %></p>
                <% if !@event.photos.any? %>
                  <%= image_tag('default_event.png', width: 350, height: 250) %>
                <% else %>
                  <% @event.photos.each do |p| %>
                    <%= image_tag(p.foto, width: 350, height: 250) %>
                  <% end %>
                <% end %> <br> <br>
                <p><%= raw(@event.narasi) %></p>
            </div>
            <% if logged_in? %>
              <% if @event.dilaksanakan >= Date.today %>
                Partisipan : <br>
                <ul>
                  <% @participants.each do |p| %>
                    <li>
                      <%= p.name %> |
                      <%= p.email %>
                      <%= link_to 'Destroy', event_participant_path(p), method: :delete %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <%= link_to 'Edit', edit_event_path(@event) %> |
            <% else %>
              <% if @event.dilaksanakan >= Date.today %>
                <%= link_to 'Join Event', new_event_participant_path(@event) %> <br>
              <% end %>
            <% end %>
            <%= link_to 'Back', events_path %>
        </div>

        <div class='col-sm-4 box-default' id='event-next'>
            <h1>Event Lainnya</h1>
            <hr>
            <%@events.each do |event| %>
                <div class='side-event'>
                    <% if (event.id != (params[:id]).to_i) %>
                        <div class='side-event-photo'>
                          <% if !event.photos.any? %>
                            <%= image_tag('default_event.png', width: 350, height: 250) %>
                          <% else %>
                            <% event.photos.each do |p| %>
                              <%= image_tag(p.foto, width: 350, height: 250) %>
                            <% end %>
                          <% end %>
                        </div>
                        <br>
                        <h1><%= link_to event.title, event_path(event) %> </h1>
                        <p><%= event.dilaksanakan.strftime("%m/%d/%Y") %></p>
                        <hr>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
