<%= form_with(model: alumnu, local: true) do |form| %>
    <div class='container col-sm-4 alumni-main'>
        <div class='box-default'>
            <h1>Edit Alumni</h1>
            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:nama, "Nama Lengkap") %>
                </div>
                <div class='edit-right'>
                    <%= form.text_field :nama, id: :alumnu_nama %>
                </div>
            </div>

            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:email, "Email") %>
                </div>
                <div class='edit-right'>
                    <%= form.text_field :email, id: :alumnu_email %>
                </div>
            </div>

            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:nohp, "No Hp") %>
                </div>
                <div class='edit-right'>
                    <%= form.text_field :nohp, id: :alumnu_nohp %>
                </div>
            </div>

            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:kelas1, "Kelas 1") %>
                </div>
                <div class='edit-right'>
                    <%= form.select(:kelas1) do %>
                        <%= content_tag(:option, "1A", value: "1A") %>
                        <%= content_tag(:option, "1B", value: "1B") %>
                        <%= content_tag(:option, "1C", value: "1C") %>
                        <%= content_tag(:option, "1D", value: "1D") %>
                        <%= content_tag(:option, "1E", value: "1E") %>
                        <%= content_tag(:option, "1F", value: "1F") %>
                        <%= content_tag(:option, "1G", value: "1G") %>
                        <%= content_tag(:option, "1H", value: "1H") %>
                        <%= content_tag(:option, "1I", value: "1I") %>
                        <%= content_tag(:option, "1J", value: "1J") %>
                        <%= content_tag(:option, "1K", value: "1K") %>
                    <% end %>
                </div>
            </div>

            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:kelas2, "Kelas 2") %>
                </div>
                <div class='edit-right'>
                    <%= form.select(:kelas2) do %>
                        <%= content_tag(:option, "2A", value: "2A") %>
                        <%= content_tag(:option, "2B", value: "2B") %>
                        <%= content_tag(:option, "2C", value: "2C") %>
                        <%= content_tag(:option, "2D", value: "2D") %>
                        <%= content_tag(:option, "2E", value: "2E") %>
                        <%= content_tag(:option, "2F", value: "2F") %>
                        <%= content_tag(:option, "2G", value: "2G") %>
                        <%= content_tag(:option, "2H", value: "2H") %>
                        <%= content_tag(:option, "2I", value: "2I") %>
                        <%= content_tag(:option, "2J", value: "2J") %>
                        <%= content_tag(:option, "2K", value: "2K") %>
                    <% end %>
                </div>
            </div>

            <div class="edit">
                <div class='edit-left'>
                    <%= form.label(:kelas3, "Kelas 3") %>
                </div>
                <div class='edit-right'>
                    <%= form.select(:kelas3) do %>
                        <%= content_tag(:option, "3A", value: "3A") %>
                        <%= content_tag(:option, "3B", value: "3B") %>
                        <%= content_tag(:option, "3C", value: "3C") %>
                        <%= content_tag(:option, "3D", value: "3D") %>
                        <%= content_tag(:option, "3E", value: "3E") %>
                        <%= content_tag(:option, "3F", value: "3F") %>
                        <%= content_tag(:option, "3G", value: "3G") %>
                        <%= content_tag(:option, "3H", value: "3H") %>
                        <%= content_tag(:option, "3I", value: "3I") %>
                        <%= content_tag(:option, "3J", value: "3J") %>
                        <%= content_tag(:option, "3K", value: "3K") %>
                    <% end %>
                </div>
            </div>

            <div class="edit" %>
              <div class="edit-left">
                <%= form.label :foto %>
              </div>
              <div class="edit-right">
                <%= form.file_field :foto%>
              </div>
            </div>

            <br>
            <div class="edit" style='justify-content: center'>
                <input type="submit" name="commit" value="Update Alumni" data-disable-with="Update Alumni">
            </div>

            <% if alumnu.errors.any? %>
                <br>
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <p>Error: Ada data yang tidak terisi!</p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>