<div class="container alumni-main">
  <div class="col-lg-8 col-xs-12 alumni-span box-default">
    <div class='alumni-photo'>
      <% if (@alumnu.photo.nil?) %>
        <%= image_tag('default.png', width: 125, height: 125) %>
      <% else %>
        <%= image_tag(@alumnu.photo.foto.thumb.url) %>
      <% end %>
    </div>
    <div class='alumni-data'>
        <h1><%= @alumnu.nama %></h1>
        <h2 style="display: inline; font-weight: 400">Kelas:&nbsp;</h2>
        <h2 style="display: inline;"><%= @alumnu.kelas1 %></h2>
        <h2 style="display: inline;"><%= @alumnu.kelas2 %></h2>
        <h2 style="display: inline;"><%= @alumnu.kelas3 %></h2>
        <h2>Alamat: <%= @alumnu.alamat_rumah %></h2>
        <h2>No. HP: <%= @alumnu.nohp %></h2>
        <div class='alumni-controller'>
            <% if logged_in? %>
              <p><%= link_to 'Edit', edit_alumnu_path(@alumnu) %></p>&nbsp;|&nbsp;
              <p><%= link_to 'Back', alumnus_path %></p>
            <% end %>
        </div>
    </div>
  </div>
  <div style="text-align: center">
    <p id="notice"><%= notice %></p>
  </div>
</div>