<%= form_for @administrator do |f| %>
    <div class="container admin-main">
        <div class="box-default admin-content">
            <div class="admin-pengantar">
                <p>Kata Pengantar</p>
                <%= f.cktext_area(:text_pengantar) %>
                <br><br>
            </div>
            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:pembina, "Pembina") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pembina) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopembina)%>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:penasihat1, "Penasehat") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:penasihat1) %> <br>
                    <%= f.text_field(:penasihat2) %> <br>
                    <%= f.text_field(:penasihat3) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopenasihat1)%>
                    <%= f.file_field(:fotopenasihat2)%>
                    <%= f.file_field(:fotopenasihat3)%>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:ketua1, "Ketua") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:ketua1) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotoketua1)%>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:ketua2, "Wakil Ketua") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:ketua2) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotoketua2) %>
                </div>
            </div>
            

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:bendahara1, "Bendahara 1") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:bendahara1) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotobendahara1)%>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:bendahara2, "Bendahara 2") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:bendahara2) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotobendahara2)%>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:humas1, "SIE Humas") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:humas1) %> <br>
                    <%= f.text_field(:humas2) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotohumas1)%>
                    <%= f.file_field(:fotohumas2)%>
                </div>
            </div>    

            <div class="admin-nama">
                <div class="col-md-4 name">
                    <%= f.label(:umum1, "SIE Umum") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:umum1) %> <br>
                    <%= f.text_field(:umum2) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotoumum1)%>
                    <%= f.file_field(:fotoumum2)%>
                </div>
            </div>    

            <h1 style="padding-left:30px; text-align:left; font-size: 1.2em; color: black">Perwakilan Korwil</h1> 
            <br>
            <div class="admin-nama">    
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk1, "Bali,NTB,NTT") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk1) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk1)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk2, "Banyuwangi") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk2) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk2)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk3, "Jember") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk3) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk3)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk41, "Jogja-Jateng") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk41) %> <br>
                    <%= f.text_field(:pk42) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk41)%> 
                    <%= f.file_field(:fotopk42)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk51, "Surabaya dan Sekitarnya") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk51) %> <br>
                    <%= f.text_field(:pk52) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk51)%> 
                    <%= f.file_field(:fotopk52)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk6, "Malang") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk6) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk6)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk7, "Jakarta,Jabar,Banten") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk7) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk7)%>
                </div>
            </div>

            <div class="admin-nama">  
                <div class="col-md-4 name" style="padding-left:50px;">
                    <%= f.label(:pk81, "Daerah-Daerah lain") %>
                </div>
                <div class="col-md-4 title">
                    <%= f.text_field(:pk81) %> <br>
                    <%= f.text_field(:pk82) %> <br>
                </div>
                <div class="col-md-4">
                    <%= f.file_field(:fotopk81)%> 
                    <%= f.file_field(:fotopk82)%>
                </div>
            </div>

            <br>
            <%= f.submit("Submit Administrator", :class => 'button-default') %>
        </div>
    </div>
<% end %>