<<<<<<< HEAD
<%= form_for @administrator do |f| %>
    <div class="container admin-main">
        <div class="box-default admin-content">
            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:pembina, "Pembina") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:pembina) %> <br>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:penasihat1, "Penasehat") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:penasihat1) %> <br>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:ketua1, "Ketua") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:ketua1) %> <br>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:ketua2, "Wakil Ketua") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:ketua2) %> <br>
                </div>
            </div>
            

            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:bendahara1, "Bendahara 1") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:bendahara1) %> <br>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 name">
                    <%= f.label(:bendahara2, "Bendahara 2") %>
                </div>
                <div class="col-md-5 title">
                    <%= f.text_field(:bendahara2) %> <br>
                </div>
            </div>

            <%= f.submit("Submit Administrator") %>
        </div>
    </div>
<% end %>