<div class='container admin-main'>
    <div class='box-default admin-content'>
        <% if @administrator.nil? %>
            <% @administrator = Administrator.new %>
            <%= render :partial => 'administrators/form' %>
        <% else %>
            <h1>Struktur Organisasi</h1>
            <br>
            <% @administrator = Administrator.last %>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Pembina</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.pembina %> </p>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Penasehat</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.penasihat1 %> </p>
                    <p><%= @administrator.penasihat2 %> </p>
                    <p><%= @administrator.penasihat3 %> </p>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Ketua</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.ketua1 %> </p>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Wakil Ketua</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.ketua2 %> </p>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Bendahara 1</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.bendahara1 %> </p>
                </div>
            </div>

            <div class="admin-nama">
                <div class="col-md-5 title">
                    <p>Bendahara 2</p>
                </div>
                <div class="col-md-7 name">
                    <p><%= @administrator.bendahara2 %> </p>
                </div>
            </div>

            <% if logged_in? %>
                <%= link_to 'Edit Administrator', edit_administrator_path(@administrator), :class => 'button-default' %>
            <% end %>
        <% end %>
    </div>
</div>