<p><%= @administrator.ketua1 %></p>
<% if @administrator.fotoketua1.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotoketua1.thumb.url) %> <br>
<% end %>

<p><%= @administrator.ketua2 %> </p>
<% if @administrator.fotoketua2.nil? %>
  <%= image_tag('degitfault.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotoketua2.thumb.url) %> <br>
<% end %>

<p><%= @administrator.bendahara1 %></p>
<% if @administrator.fotobendahara1.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotobendahara1.thumb.url) %> <br>
<% end %>

<p><%= @administrator.bendahara2 %></p>
<% if @administrator.fotobendahara2.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotobendahara2.thumb.url) %> <br>
<% end %>

<p><%= @administrator.pembina %> </p>
<% if @administrator.fotopembina.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotopembina.thumb.url) %> <br>
<% end %>

<p><%= @administrator.penasihat1 %></p>
<% if @administrator.fotopenasihat1.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotopenasihat1.thumb.url) %> <br>
<% end %>

<p><%= @administrator.penasihat2 %></p>
<% if @administrator.fotopenasihat2.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotopenasihat2.thumb.url) %> <br>
<% end %>

<p><%= @administrator.penasihat3 %></p>
<% if @administrator.fotopenasihat3.nil? %>
  <%= image_tag('default.png', width: 125, height: 125) %> <br>
<% else %>
  <%= image_tag(@administrator.fotopenasihat3.thumb.url) %> <br>
<% end %>