<p><%= @administrator.ketua1 %></p>
<%= image_tag(@administrator.fotoketua1.thumb.url) %> <br>

<p><%= @administrator.ketua2 %> </p>
<%= image_tag(@administrator.fotoketua2.thumb.url) %> <br>

<p><%= @administrator.bendahara1 %></p>
<%= image_tag(@administrator.fotobendahara1.thumb.url) %> <br>

<p><%= @administrator.bendahara2 %></p>
<%= image_tag(@administrator.fotobendahara2.thumb.url) %> <br>

<p><%= @administrator.pembina %> </p>
<%= image_tag(@administrator.pembina.thumb.url) %> <br>

<p><%= @administrator.penasihat %></p>
<%= image_tag(@administrator.penasihat.thumb.url) %> <br>