<<<<<<< HEAD
<nav class="navbar navbar-expand-sm">
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <%= link_to 'Event', events_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
            <%= link_to 'Alumni', alumnus_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
            <%= link_to 'About Us', administrators_path, class:'nav-link'%>
        </li>
    </ul>
=======
<nav class="navbar navbar-expand-sm">
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <%=  link_to 'Home', home_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
            <%= link_to 'Event', events_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
            <%= link_to 'Alumni', alumnus_path, class:'nav-link'%>
        </li>
        <li class="nav-item">
            <%= link_to 'About Us', administrators_path, class:'nav-link'%>
        </li>
    </ul>
>>>>>>> 72853ed04a13cf9cc3a83be13228c45c46b8bc87
</nav>