<!DOCTYPE html>
<html>
<head>
    <title>AlumniSekolah</title>
    <%= csrf_meta_tags %>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:400,600">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('reuniphoto.jpg'), :rel => 'icon', :type => 'image/jpg' %>
</head>

<body>
    <div class="jumbotron">
        <div class='row'>
            <div class='col' id='logo-jumbo'>
                <%= image_tag("logonew.png")%>
            </div>
            <div class='col' id='search-jumbo'>
                <%= form_tag search_events_path, method: :get do %>
                    <%= text_field_tag(:search_events, nil, placeholder: " Cari Event") %>
                    <%= button_tag(type: :submit, class: "button-default") do %>
                        Search
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <%= render 'layouts/navigation' %>
    <%= yield %>

    <!--<div class='container-fluid' id='footer'>-->
        <!--© 2018 Copyright:-->
        <!--<a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Ahmad Fahmi & Muh. Habibi Haidir</a>-->
    <!--</div>-->
</body>
</html>