<!DOCTYPE html>
<html>
<head>
    <title>AlumniSekolah</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:400,600">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div class="jumbotron">
        <%= image_tag("logo.png")%>
          <%= form_tag search_events_path, method: :get, id: "search-jumbo" do %>
            <%= text_field_tag(:search_events) %>
            <%= button_tag(type: :submit, class: "button-default") do %>
              Search
            <% end %>
          <% end %>
    </div>
    <%= render 'layouts/navigation' %>
    <%= yield %>

    <div class='container-fluid' id='footer'>
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Ahmad Fahmi & Muh. Habibi Haidir</a>
    </div>
</body>
</html>